# never ignore a gitignore
!.gitignore

# Data
# exclude everything
data/**

# exception to the rule to keep the data directory structure 
!data/README.md

# OS files
.DS_Store
Thumbs.db

# vim stuff
.swp
*.swp

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
